/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2019, 20:00:34
    Author     : Celestino
*/

	html, body {
		margin: 0px;
		padding:0px;
		background-color: white;
		
		margin-left: auto;
		margin-right: auto;
	}

	body > *{
		margin-left: auto;
		margin-right: auto;
	}



	header{
		background-color: #0433FF;
		position: relative;
		border-bottom: 2px solid darkslateblue	;
		

	}

	.header-top{
		width: 1100px;
		margin-left: auto;
		margin-right: auto;

	}

	header #logo{	width: 150px; }

	.menu-link{
		padding: 50px;
		
		margin: 20px 10px 40px 0;
		float: right;
		
	}

	.menu-link a {
		font-size: 1.5em;
		text-decoration: none;
		background-color: transparent;
		color: white;
		padding: 10px 20px 10px 20px ;
		border-radius: 2px;
		
	}

	.menu-link a:hover{
		background-color: rgba(4, 0, 255, 0.425);
		
	}

	.menu-link a.active{
		background-color: rgba(4, 0, 255, 0.425)
	}

	.banner, .produtos{
		
		margin-left: auto;
		margin-right: auto;
		
	} 

	.banner{
		background-color: black
	}

	.banner-img {
		
		margin-left: auto;
		margin-right: auto;
		
	}


	.banner-img img{
		margin-top: -50px;	max-width: 100%;
	}

	.descricao-img-banner{
		text-align: center;
		background-color: black;
		color: white;
		font-size: 1.5em;
		text-decoration: none
	}
	.produtos{ 	
		
		
	}

	.produtos  .container{ 
		
		border: 1px solid red;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
		
	}

	.card{

		height: 430px;
		width: 20rem;
		display: inline-block;
		margin: 40px 25px 50px 0px;
		text-align: center;
		padding: 10px 15px 50px 15px;
		border-radius: 0 0 10px 10px;
                transition: 0.5s;
                
	}
        .card:hover{
            box-shadow: 0 0 20px #888;
            
        }
	.card img{
		max-width: 100%;
		height: 60%;
		margin-bottom: 10px;
                padding-top: 0px;
                
                
	}
        
        .card .card-body{
            margin-top: -30px
        }

	.card{
		/* [1.1] Set it as per your need */
		overflow: hidden; /* [1.2] Hide the overflowing of child elements */
	}
        
	/* [2] Transition property for smooth transformation of images */
	.card img {
		transition: transform .5s ease;
	}
	/* [3] Finally, transforming the image when container gets hovered */
	.card:hover img {
		transform: scale(1.1);
	}
	.star-checked{
		color: orange
	}

	button.btn-add-to-cart {
		-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
		-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
		-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
		-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
		transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
		display: block;
		margin: 0 auto;
		max-width: 180px;
		text-decoration: none;
		border-radius: 4px;
		padding: 10px 10px;
                background-color: gray;
		
	}

	button.btn-add-to-cart{
		/*color: rgba(30, 22, 54, 0.6);*/
		box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
	}

	button.btn-add-to-cart:hover {
		color: rgba(255, 255, 255, 0.85);
		box-shadow: #0433FF 0 80px 0px 2px inset;
	}

	@media screen and (max-width: 1317px){  
            * {
                
            }
		.header-top{
			max-width: 100%
		}

		.produto .container{
			text-align: center;
                        
		}

                .produtos{
                    margin: auto;
                        
                }
		.card{
			width: 270px;
                        
		}
	}
        
        @media screen and (max-width: 1250px){  
            * {
                
            }
		.header-top{
			max-width: 100%
		}

		.produto .container{
			text-align: center;
                        
		}

                .produtos{
                    margin: auto;
                        
                }
		.card{
			width: 22rem;
                        margin-left: 100px;
                        
		}
	}


	@media screen and (max-width: 1120px){
                * {
                   
                }
		.menu-link a {
			font-size: 1em;
			text-decoration: none;
			background-color: transparent;
			color: white;
			padding: 10px 20px 10px 20px ;
			border-radius: 2px;
                        
			
		}

		.produtos-main{
			color: #01087C;
		}
		.card{
                        margin: 40px 30px 40px 10px;
                        margin-bottom: 40px;
			width: 25rem;
                        max-width: 100%;
                        min-height: 550px;
                        font-size: 1.5rem;
                        olor: #01087C;
		}
                
	}

	