.borda{
	border: 1px solid black;
}

header{
	border-bottom: 5px solid black;
	padding: 11px;
	background-color: blue;
}

.icon-logo{
	width: 30px;
}

.icon-carrinho{
	width: 30px;
}

.trinca{
	float: right;
	margin: 8px;
}

.text-nav{
	text-decoration: none;
	font-size: 20px;
	font-family: sans-serif;
	color: white;
}

body{
	background-color: #e5e5e0;
}

 /* BOTÃO DE VOLTAR */

.bt-voltar {
  border-radius: 4px;
  background-color: #e5e5e0;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 0 10px 0;
}

.bt-voltar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bt-voltar span:after {
  content: none;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bt-voltar:hover span {
  padding-right: 25px;
}

.bt-voltar:hover span:after {
  opacity: 1;
  right: 0;
}

div{}

div{}

.card{
	width: 100%;
	clear: left;
	float: left;
}

.icon-produto{
	float: left;
	width: 350px;
	margin-left: 30px; 
	box-shadow: 1px 2px 2px black;
}

.card-descricao{
	float: left;
	width: 500px;
	margin: 20px 0 20px 100px;
}

.star-checked{
	color: orange;
}


.card-fav-buy{
	float: right;
	height: 200px;
}

button{
	margin: 100px 50px 0 0;
	float: left;
}

.fa{
	font-size: inherit;
}
.fa-heart{
	margin: 100px 50px 0 0;
	color: red;
	font-size: 50px;
	float: left;
}

.card-avaliacao{
	float: left;
	clear: both;
	margin: 20px 0 0 30px;
}


hr{
	clear: both;
	margin: 10px 0 10px 0;
}

  /* COMENTÁRIOS */

.Comentarios{
	float: left;
	margin-top: 20px;
}

.card-comentario {
  /* Adiciona sombreado */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 75%;
  margin: 20px 10px 5px 10%;
  clear: both;
  float: left;
  background-color: #f5f5f5;
}

/* Quando cursor estiver sobre, o card se destaca */
.card-comentario:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Adicionando padding ao comentário interno*/
.comments {
  padding: 2px 16px;
  float: left;
}

.icon-profile{
	width: 60px;
	margin: 5px;
	float: left;
}




/* RODAPÉ */

footer{
	background-color: red;
	border-top: 1px solid white;
	float: left;
	width: 99.2%;
	clear: both;
	margin-top: 70px;
	padding: 5px;
}