.borda{
	border: 1px solid black;
}


/* CABEÇALHO (igual para todos) */
header{
	border-bottom: 5px solid black;
	padding: 11px;
	background-color: blue;
}

.icon-logo{
	width: 30px;
}

.icon-carrinho{
	width: 30px;
}

.trinca{
	float: right;
	margin: 8px;
}

.text-nav{
	text-decoration: none;
	font-size: 20px;
	font-family: sans-serif;
	color: white;
}


/* CORPO */
body{
	background-color: #e5e5e0;
	font-family: Helvetica, sans-serif;;
}

/* CARD PRODUTO */
.container{
	display: inline-block;
	margin: 30px 0 0 10%;
	padding: 10px;
	width: 70%;
}

.inside {
	padding: 5px;
	margin-right: 70px;
}

.img-prod{
	width: 100px;
	float: left;
}

.card-nome{
	float: left;
}

.card-qntd{
	float: right;
	display: inline-block;
}

.fa-plus-circle, .fa-minus-circle{
	float: left;
}

.number{
	float: left;
}

.card-remove{
	float: right;
}

.card-valor{
	float: right;
}


/* VALOR TOTAL */
.valor{
	margin: 50px;
	float: right;
	display: inline-block;
	font-size: 20px;
}

/* BTT DE COMPRAR */
.comprar-btt {
	background-color: #4CAF50;
  	color: white;
  	font-size: 105%;
	padding: 14px 20px;
	margin: 8px 40px 20px 20px;
	border: none;
	cursor: pointer;
	width: 70%;
	float: right;
}

button:hover {
  opacity: 0.8;
}

/* RODAPÉ */
footer{
	background-color: red;
	border-top: 1px solid white;
	width: 99.4%;
	margin-top: 70px;
	padding: 5px;
	position: fixed;
	bottom: 0;
}